* {
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 235, 205, 0.397);
}

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?wfzu27');
  src: url('fonts/icomoon.eot?wfzu27#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wfzu27') format('truetype'),
    url('fonts/icomoon.woff?wfzu27') format('woff'),
    url('fonts/icomoon.svg?wfzu27#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.box {
  width: 800px;
  margin: 0 auto;
  /* background-color: antiquewhite; */
  text-align: center;
  padding-bottom: 30px;
}

.box .faq {
  position: relative;
  height: 60px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

.box .faq h3 {
  position: absolute;
  top: -2px;
  left: 15px;
}

.box .faq button {
  position: absolute;
  top: 18px;
  right: 15px;
  font-family: 'icomoon';
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.box .faq.active {
  position: relative;
  height: 90px;
  background-color: white;
}

.box .faq.active button {
  font-family: 'icomoon';
  font-size: 18px;
}

.box .faq.active::before {
  position: absolute;
  left: 0px;
  top: 20px;
  content: '';
  color: gray;
  opacity: 0.6;
  font-family: "icomoon";
  font-size: 50px;
  /* z-index: 1; */
}

.box .faq p {
  position: absolute;
  top: 40px;
  left: 15px;
}
.box .faq .active {
  background-color: white;
}