* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
}

.left {
  float: left;
  width: 50%;
  height: 100%;
  background: url('ps.jpg') no-repeat center;
  text-align: center;
  transition: all 1s;
}
.left h2 {
  padding-top: 150px;
  padding-bottom: 15px;
  font-size: 50px;
  color: white;
}
.left a {
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 80px;
  border: 2px solid white;
  text-align: center;
  line-height: 80px;
  color: white;
  font-size: 26px;
  font-weight: 600;
}
.left a:hover {
  border-width: 0;
  background-color: blueviolet;
}

.right {
  float: left;
  width: 50vw;
  height: 100vh;
  background: url('xbox.jpg') round;
  text-align: center;
  transition: all 1s;
}

.right h2 {
  padding-top: 150px;
  padding-bottom: 15px;
  font-size: 50px;
  color: white;
}

.right a {
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 80px;
  border: 2px solid white;
  text-align: center;
  line-height: 80px;
  color: white;
  font-size: 26px;
  font-weight: 600;
}
.right a:hover {
  border-width: 0;
  background-color: chartreuse;
}
.hover-active {
  width: 75%;
}
.hover-close {
  width: 25%;
}